


      <div id="game_<%= @game.place %>" class="grid grid-cols-3 game items-center justify-center board <%=@game.open? ? "active ring-4" : "" %> <%=@game.cross? ? "bg-red-300": ""%> <%=@game.nought? ? "bg-green-300": ""%>" data-game-id="<%= @game.id %>"  dataset= "combined">
      <% @game.cells.each do |cell| %>
        <%= render(CellComponent.new({ cell: cell })) %>
        <% end %>
        
      </div>

       
       