 <main class="bg-gray-200">
  <div dom_id="<%=@game_room%>">
    <div>
      <p>There are <%= @game_room.viewers.count %> watching</p>
      <%= @message %>
    </div>
    <div>
      <p><%= @game_room.player_turn %>  <%= @message %></p>
    </div>
    <div id="start-game">
      <% if @game_room.players.count != 2 %>
        <button class="text-2xl bg-gray-200 py-2 px-1 disabled" data-reflex="click->Game#start_game"> Play against Computer></button>
      <% else %>
        <button class="text-2xl bg-gray-200 py-2 px-1 disabled" data-reflex="click->Game#start_game"> Start Game</button>
      <% end %>
    </div>
    <div>
      <% if @game_room.players[1].class == Computer %>
        <button data-reflex="click->Game#remove">
          Remove the computer
        </button>
      <% end %>
    </div>
    <div id="room-id" class="flex justify-center items-center  <%= @message %> "  data-gameroom-id= "<%= @game_room.id %>">
      <div class="flex-col m-auto">
        <p>Player one: </p>
        <p><%= @game_room.players[0] ? @game_room.players[0].user_name : "waiting for opponent" %></p>
      </div>
      <div id="why" class="<%= @game_room.board.game_finishd ? "inactive" : "active" %> ">
        <%= render(BoardComponent.new({board: @game_room.board})) %>
      </div>
      <div class="flex-col m-auto">
        <p>Player two: </p>
        <p><%= @game_room.players[1] ? @game_room.players[1].user_name : "waiting for opponent" %></p>
      </div>
    </div>
    <div class="w-screen flex justify-center ">
      <button class="py-2 px-4  bg-blue-600 hover:bg-blue-700 focus:ring-white focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg m-3" ><%= link_to "leave", leave_game_room_path(@game_room) %></button>
      <button class="py-2 px-4  bg-blue-600 hover:bg-blue-700 focus:ring-white focus:ring-offset-indigo-200 text-white  transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg m-3" data-reflex="click->Game#restart_game">Restart game</button>
    </div>
  </div>
</div>
</div>
<div data-reflex='click->GameReflex#test'>This is the test</div>
<div id="win-area">
</div>
<%= render(ModalComponent.new(message: @message, game_room: @game_room)) %>
</main>
