 <main>
 <div dom_id="<%=@game_room%>">
  
     <div> <p>There are <%= @game_room.viewers.count %> watching</p></div> 
     <div>
     <p><%= @game_room.player_turn %>  <%= @message %></p>
     </div>
     <div id="room-id" class="flex justify-center items-center width-screen h-screen <%= @message %> "  data-gameroom-id= "<%= @game_room.id %>">
      <div class="flex-col m-auto">
      <p>Player one: </p><p><%= @game_room.players[0] ? @game_room.players[0].user_name : "waiting for opponent" %></p>
      </div>
        <div id="why">
        <%= render(BoardComponent.new({board: @game_room.board})) %>
        </div>
        <div class="flex-col m-auto">
       <p>Player two: </p><p><%= @game_room.players[1] ? @game_room.players[1].user_name : "waiting for opponent" %></p>
       </div>
      </div> 
      <%= link_to "leave", leave_game_room_path(@game_room) %>
      <button class="py-2 px-4  bg-blue-600 hover:bg-blue-700 focus:ring-white focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg " data-reflex="click->Game#restart_game">Restart game</button>
       </div>
       
       </div> 
       
      </div>
      
    </main>