<%= @user.user_name %>
<% if @user.type == "Guest" %>
  <p> This is a guest account so unfortunately the stats accrued will not be saved when you leave </p>
  <p>Sorry the developer is an idiot</p>
<% end %>
<div>
  <h2>Stats</h2>
</div>
<div class="grid grid-cols-3 place-items-center bg-purple-300 ">
  <div class="bg-blue-600 w-60 h-60 rounded-md text-center  place-content-center flex-col ">
    <div class="bg-red-400">
      <p class="text-3xl">Wins: </p>
    </div>
    <div class="bg-yellow-700 h-100 place-self-center ">
      <p class=""><%= @user.wins %></p>
    </div>
  </div>
  <div class="bg-blue-600 w-60 h-60 rounded-md ">
    <p>Losses: <%= @user.losses %></p>
  </div>
  <div class="bg-blue-600 w-60 h-60 rounded-md ">
    <p>Draws: <%= @user.draws %></p>
  </div>
</div>
<%= link_to "back", :back %>
