 <body>
     <div class="text-center justify-center items-center fixed content-center block m-auto w-screen">
       <% if @old_game %><%= @old_game.id %> 
       <% end %> 
       <%= current_or_guest_user.user_name %>
       <% if @game %>
         <%= @game.id %>
       <% end %>
        
        <h1 class="text-center text-2xl">
    Hi welcome to SuperTicTac
    </h1>
    <p>I hope you don't mind but we've given you a username for this sessions from now on you will be known as <%= current_or_guest_user.user_name %></p>
     <p>If you would like to change it feel free to sign up, it comes with <em>added</em> benefits</p>
    <%= link_to 'start match', new_game_room_path %>   <%= link_to 'Game rooms', game_rooms_path %>
     </div> 
    <main>
    <div class="bg-blue-200 grid grid-cols-3"> 
    <div class="row-span-3">
    
    </div>
    </div>
    </main>
  </body> 
  